ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 1px #E0E0E0;
}

ul.navbar li {
    float: left;
    font-size: 24px;
}

ul.navbar li a, span {
    display: block;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    color: black;
}

ul.navbar li a:hover:not(.active) {
    background-color: #E0E0E0;
}

ul.navbar li a.active {
    background-color: #4CAF50;
}

ul.navbar li.menu {float: right;}

@media screen and (max-width: 600px) {
    ul.navbar li.menu, 
    ul.navbar li {float: none;}
}